.message-info {
  text-align: center;
  padding: 30px;
  font-size: 5rem;
  color: green;
}

.message-info.fade-out {
  opacity: 1;
  animation: fadeOut 3s ease-in forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
